<html>
    <head>
            <title>Whiteboard</title>

            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

            <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css" rel="stylesheet">
            <link href="/r/style.css" rel="stylesheet">
    </head>
    <body class="grey lighten-5 grey-text text-darken-4">
            <div class="container">
                    <div class="row top-spacing center">
                            <h1>Whiteboard</h1>
                            <p>Not blackboard!</p>
                    </div>
            </div>

            <script src="https://code.jquery.com/jquery-2.1.2.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
    </body>
</html>
