.top-spacing {
        margin-top: 10%;
        padding-bottom: 10%;
}

html {
        position: relative;
        min-height: 100%;
}

body {
        margin: 0 0 60px;
}

footer {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 60px;
        width: 100%;
}
